@model Dota2Helper.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Помощник Dota 2";
}

<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/MainCSS.css" rel="stylesheet" />
<h2>Dota 2 Helper</h2>

<h3>Блокировка способностей предметами Black King Bar и Linken's Sphere</h3>



<br />
@{
    List<SelectListItem> listHero = new List<SelectListItem>()
    {
        new SelectListItem(){ Value="Abaddon", Text="Abaddon"},
        new SelectListItem(){ Value="Anti-mage", Text="Anti-mage"},
        new SelectListItem(){ Value="Axe", Text="Axe"},
        new SelectListItem(){ Value="Beastmaster", Text="Beastmaster"},
        new SelectListItem(){ Value="Bloodseeker", Text="Bloodseeker"},
        new SelectListItem(){ Value="Dragon Knight", Text="Dragon Knight"},
        new SelectListItem(){ Value="Earthshaker", Text="Earthshaker"},
        new SelectListItem(){ Value="Necrophos", Text="Necrophos"},
        new SelectListItem(){ Value="Pudge", Text="Pudge"},
        new SelectListItem(){ Value="Razor", Text="Razor"},
        new SelectListItem(){ Value="Warlock", Text="Warlock"},
    };
}
<table>
    <thead>ПРОТИВНИКИ</thead>
    <tr>
        <td colspan="5" align="right">
            <input type="checkbox" value="Показывать картинки" />Показывать картинки
        </td>
    </tr>
    <tr>
        <th>Выберите героев:</th>
        <th class="separator-vert" rowspan="9"></th>
        <th>Блокируется Black King Bar <img style='width:25px; height:20px;' src=http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/72/Black_King_Bar_icon.png alt="BKB pic"></th>
        <th class="separator-vert" rowspan="9"></th>
        @*<th rowspan="9" width="5"><img src="/Content/Images/separate_line.png" width="5" height="300"></th>*@
        <th>Блокируется Linken's Sphere <img style='width:25px; height:20px;' src=http://hydra-media.cursecdn.com/dota2.gamepedia.com/2/23/Linken%27s_Sphere_icon.png alt="LS pic"></th>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroEnemy1", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroEnemy2", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroEnemy3", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroEnemy4", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroEnemy5", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td></td>
        <td align="center">
            <input type="submit" name="EnemyBKB" value="Посмотреть">
            <!--
                 <button type="submit" value="Посмотреть">
                    <img src="/Content/Images/Result_one_button.png">
                 </button>
            -->
        </td>
        <td align="center">
            <input type="submit" name="EnemyLS" value="Посмотреть" />
        </td>
    </tr>
</table>

<div>
    <input type="submit" name="AllEnemies" value="Посмотреть всех противников" />
</div>

@{
    List<SelectListItem> allyResTypes = new List<SelectListItem>(){
        new SelectListItem(){ Value="not_block", Text="Проходит", Selected=true},
        new SelectListItem(){ Value="block", Text="Блокируется"},
    };
}
<br />
<br />
<table>
    <thead>СОЮЗНИКИ</thead>
    <tr>
        <td align="right" colspan="3">@Html.DropDownList("allyResTypes", allyResTypes)</td>
        <td colspan="2" align="right">
            <input type="checkbox" value="Показывать картинки" />Показывать картинки
        </td>
    </tr>
    <tr>
        <th>Выберите героев:</th>
        <th class="separator-vert" rowspan="9"></th>
        @*На месте слов "Блокируется" скорее всего будет частичное представление (для того, чтобы надпись менялась в зависимости от отображаемого результата,
т.е. если в списке "allyResTypes" выбрано "Проходит", в шапке таблицы будет написано "Проходит через...", если выбрано "Блокируется", будет написано "Блокируется...");
            пока нельзя добавить, потому что нет модели*@
        <th>Блокируется Black King Bar <img style='width:25px; height:20px;' src=http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/72/Black_King_Bar_icon.png alt="BKB pic"></th>
        <th class="separator-vert" rowspan="9"></th>
        <th>Блокируется Linken's Sphere <img style='width:25px; height:20px;' src=http://hydra-media.cursecdn.com/dota2.gamepedia.com/2/23/Linken%27s_Sphere_icon.png alt="LS pic"></th>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroAlly1", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroAlly2", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroAlly3", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroAlly4", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @*@Html.DropDownList("heroAlly5", listHero, "Герой не выбран")*@
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td></td>
        <td align="center">
            <input type="submit" name="AllyBKB" value="Посмотреть" style="text-indent: -9999px; line-height: 0; background-image: url(/Content/Images/Result_one_button.png); border: 0; background-repeat: round; width: 30%; height:80%;" />
        <td align="center">
            <input type="submit" name="AllyLS" value="Посмотреть" />
        </td>
    </tr>
</table>

<div>
    <input type="submit" name="AllAllies" value="Посмотреть всех союзников" />
</div>

<br />
<div>
    <input type="submit" value="Посмотреть всё" />
</div>

<p>
    Узнайте, какие способности героев блокируются (или не блокируются) неуязвимостью к заклинаниям, которую дают предметы Black King Bar и Linken's Sphere.
</p>
<p>
    Для начала выберите героев, для которых вы хотите узнать, какие их способности блокируются Black King Bar и Linken's Sphere.
    В поле "СОЮЗНИКИ" также можно посмотреть, какие способности проходят сквозь невосприимчивость к заклинаниям.
</p>
<p>
    Результат можно посмотреть по одному из предметов, т.е. какие способности блокируются/не блокируются одним из предметов
    (кнопка "Посмотреть" под одним из столбцов - "Блокируется/Проходит через Black King Bar" или "Блокируется/Проходит через Linken's Sphere"),
    можно посмотреть результат для всех выбранных вражеских или союзных героев по обоим предметам (кнопка "Посмотреть всех противников/союзников" соответственно)
    или посмотреть результат по обоим предметам и для противников, и для союзников (кнопка "Посмотреть всё" внизу страницы)
</p>