@model Dota2Helper.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Помощник Dota 2";
}

<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/MainCSS.css" rel="stylesheet" />
<h2 class="main-title">Dota 2 Helper</h2>

<h3 class="main-subtitle">Блокировка способностей предметами Black King Bar и Linken's Sphere</h3>



<br />


<table>
    <thead>ПРОТИВНИКИ</thead>
    <tr>
        <td colspan="5" align="right">
            <input type="checkbox" value="Показывать картинки" checked />Показывать картинки
        </td>
    </tr>
    <tr>
        <th>Выберите героев:</th>
        <th class="separator-vert" rowspan="9"></th>
        <th>Блокируется Black King Bar <img style="width: 25px; height: 20px;" src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/72/Black_King_Bar_icon.png" alt="BKB pic"></th>
        <th class="separator-vert" rowspan="9"></th>
        @*<th rowspan="9" width="5"><img src="/Content/Images/separate_line.png" width="5" height="300"></th>*@
        <th>Блокируется Linken's Sphere <img style="width: 25px; height: 20px;" src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/2/23/Linken%27s_Sphere_icon.png" alt="LS pic"></th>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "enemy-name" })
        </td>
        <td rowspan="5">
            <div id="EnemyBKB">

            </div>
        </td>
        <td rowspan="5">
            <div id="EnemyLS">

            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "enemy-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "enemy-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "enemy-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "enemy-name" })
        </td>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td></td>
        <td align="center">
            <input type="image" class="button resultOne" name="EnemyBKB" onclick="ShowEnemyBKB()" value="Посмотреть">
        </td>

        <td align="center">
            <input type="image" class="button resultOne" name="EnemyLS" onclick="ShowEnemyLS()" value="Посмотреть" />
        </td>
    </tr>
</table>

<div>
    <input type="image" class="button resultAllEnemies" name="AllEnemies" onclick="ShowAllEnemies()" value="Посмотреть всех противников" />
</div>

<br />
<br />
<table>
    <thead>СОЮЗНИКИ</thead>
    <tr>
        <td colspan="5" align="right">
            <input type="checkbox" value="Показывать картинки" checked />Показывать картинки
        </td>
    </tr>
    <tr>
        <th>Выберите героев:</th>
        <th class="separator-vert" rowspan="9"></th>
        @*На месте слов "Блокируется" скорее всего будет частичное представление (для того, чтобы надпись менялась в зависимости от отображаемого результата,
            т.е. если в списке "allyResTypes" выбрано "Проходит", в шапке таблицы будет написано "Проходит через...", если выбрано "Блокируется", будет написано "Блокируется...");
                        пока нельзя добавить, потому что нет модели*@
        <th>Проходит Black King Bar <img style="width:25px; height:20px;" src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/7/72/Black_King_Bar_icon.png" alt="BKB pic"></th>
        <th class="separator-vert" rowspan="9"></th>
        <th>Проходит Linken's Sphere <img style="width:25px; height:20px;" src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/2/23/Linken%27s_Sphere_icon.png" alt="LS pic"></th>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "ally-name" })
        </td>
        <td rowspan="5">
            <div id="AllyBKB">

            </div>
        </td>
        <td rowspan="5">
            <div id="AllyLS">

            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "ally-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "ally-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "ally-name" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(x => x.HeroNames, new SelectList(Model.HeroNames, "Text"), "Герой не выбран", new { @class = "ally-name" })
        </td>
    </tr>
    <tr>
        <td colspan="5" class="dl-horizontal"></td>
    </tr>
    <tr>
        <td></td>
        <td align="center">
            <input type="image" class="button resultOne" name="AllyBKB" onclick="ShowAllyBKB()" value="Посмотреть" />
        <td align="center">
            <input type="image" class="button resultOne" name="AllyLS" onclick="ShowAllyLS()" value="Посмотреть" />
        </td>
    </tr>
</table>

<div>
    <input type="image" class="button resultAllAllies" name="AllAllies" onclick="ShowAllAllies()" value="Посмотреть всех союзников" />
</div>

<br />
<div>
    <input type="image" class="button resultAll" name="All" onclick="ShowAll()" value="Посмотреть всё" />
</div>

<p>
    Узнайте, какие способности героев блокируются (или не блокируются) неуязвимостью к заклинаниям, которую дают предметы Black King Bar и Linken's Sphere.
</p>
<p>
    Для начала выберите героев, для которых вы хотите узнать, какие их способности блокируются Black King Bar и Linken's Sphere.
    В поле "СОЮЗНИКИ" также можно посмотреть, какие способности проходят сквозь невосприимчивость к заклинаниям.
</p>
<p>
    Результат можно посмотреть по одному из предметов, т.е. какие способности блокируются/не блокируются одним из предметов
    (кнопка "Посмотреть" под одним из столбцов - "Блокируется/Проходит через Black King Bar" или "Блокируется/Проходит через Linken's Sphere"),
    можно посмотреть результат для всех выбранных вражеских или союзных героев по обоим предметам (кнопка "Посмотреть всех противников/союзников" соответственно)
    или посмотреть результат по обоим предметам и для противников, и для союзников (кнопка "Посмотреть всё" внизу страницы)
</p>

<script>
    function CollectEnemyNames() {
        var names = $('.enemy-name :selected').each(function () {
            $(this).val();
        });
        return [names[0].innerHTML,
                names[1].innerHTML,
                names[2].innerHTML,
                names[3].innerHTML,
                names[4].innerHTML];
    }

    function ShowEnemyBKB() {
        var names = CollectEnemyNames();
        if ($.inArray("Герой не выбран", names) + 1) {
            alert("Пожалуйста, выберите 5 вражеских героев.");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/home/ShowEnemySkillsBKB',
                contentType: 'application/json',
                data: JSON.stringify(names),
                success: function (data) {
                    $('#EnemyBKB').html(data);
                }
            });
        }
    }

    function ShowEnemyLS() {
        var names = CollectEnemyNames();
        if ($.inArray("Герой не выбран", names) + 1) {
            alert("Пожалуйста, выберите 5 вражеских героев.");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/home/ShowEnemySkillsLS',
                contentType: 'application/json',
                data: JSON.stringify(names),
                success: function (data) {
                    $('#EnemyLS').html(data);
                }
            });
        }
    }

    function ShowAllEnemies() {
        ShowEnemyBKB();
        ShowEnemyLS();
    }

    function CollectAllyNames() {
        var names = $('.ally-name :selected').each(function () {
            $(this).val();
        });
        return [names[0].innerHTML,
                names[1].innerHTML,
                names[2].innerHTML,
                names[3].innerHTML,
                names[4].innerHTML];
    }

    function ShowAllyBKB() {
        var names = CollectAllyNames();
        if ($.inArray("Герой не выбран", names) + 1) {
            alert("Пожалуйста, выберите 5 союзных героев.");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/home/ShowAllySkillsBKB',
                contentType: 'application/json',
                data: JSON.stringify(names),
                success: function (data) {
                    $('#AllyBKB').html(data);
                }
            });
        }
    }

    function ShowAllyLS() {
        var names = CollectAllyNames();
        if ($.inArray("Герой не выбран", names) + 1) {
            alert("Пожалуйста, выберите 5 союзных героев.");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/home/ShowAllySkillsLS',
                contentType: 'application/json',
                data: JSON.stringify(names),
                success: function (data) {
                    $('#AllyLS').html(data);
                }
            });
        }
    }

    function ShowAllAllies() {
        ShowAllyBKB();
        ShowAllyLS();
    }

    function ShowAll() {
        ShowAllEnemies();
        ShowAllAllies();
    }
</script>