@using Dota2Helper.Models.ViewModels
@model EnemysBlockLSPartialViewModel

<table>
    @foreach (EnemyBlockLSViewModel enemy in Model.Enemys)
    {
        <tr>
            @foreach (SkillLSViewModel skill in enemy.EnemySkills.Where(skill => skill.SkillName != null && skill.BlockLS))
            {
                if (skill.CommentLS != null)
                {
                     <td>
                         <div class="icon-with-hint">
                             <div class="substrate"></div>
                             <img src="@skill.ImageLink" alt="@skill.PoolNumber" width="38" height="38" class="partly-block-icon" />
                             <div class="pop-comment">@skill.CommentLS</div>
                         </div>
                     </td>
                }
                else
                {
                <td>
                    <div class="no-substrate"></div>
                    <img src="@skill.ImageLink" alt="@skill.PoolNumber" width="38" height="38"/>
                </td>
                }
            }
        </tr>
    }
</table>